body {
    background-color: skyblue;
    font-family: 'Press Start 2P', cursive;  
}

/*Container for page heading*/
.header {
    
    background-color: red;
    margin-top: 20px;
    padding: 20px;
    margin-right: 35%;
    margin-left: 35%;

    
}
/*Container for wins, instructions, and other player info*/
.playerStats {
    width: 50%;
    margin-top: 20px;
    margin-left: 40%;        
    text-align: center;
}

/*Page typography*/
h1 {
    font-size: 50px;
    text-align: center;
    color: pink;
}
h2 {
    font-size: 30px;
    color: pink;
    text-align: center;
}
p {
    font-size: 20px; 
    margin-bottom: 15px;
    color: rgba(255, 255, 255, 0.795);
}